.container {
  @apply space-y-2;
}

.item {
  @apply bg-white p-3 rounded-lg flex items-center gap-3 border border-gray-100 shadow-sm;
}

.icon {
  @apply text-xl bg-gray-50 w-10 h-10 flex items-center justify-center rounded-full;
}