version: "3.7"

services:
  postgres:
    container_name: postgres
    image: postgres:latest
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DATABASE=${POSTGRES_DATABASE}
    ports:
      - 5436:5432
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - main

volumes:
  postgres_data:

networks:
  main:
