version: "3.7"

services:
  server:
    container_name: server
    build:
      context: .
      dockerfile: Dockerfile.prod
    restart: always
    environment:
      - NODE_ENV=development
      - POSTGRES_HOST=localhost
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=root
      - POSTGRES_DATABASE=cyber_garder_2025
      - POSTGRES_PORT=5436
      - DATABASE_URL=postgresql://postgres:root@localhost:5436/cyber_garder_2025?schema=public
      - API_PORT=4200
      - API_PREFIX=api
      - SWAGGER_TITLE=cyber garden 2025
      - SWAGGER_DESCRIPTION=cyber garden 2025
      - SWAGGER_PATH=docs
      - BASE_URL=http://localhost:4200/api
      - ORIGIN_URL=http://localhost:3000
    ports:
      - 4200:4200
    depends_on:
      - postgres
    networks:
      - main

  postgres:
    container_name: postgres
    image: postgres:latest
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DATABASE=${POSTGRES_DATABASE}
    ports:
      - 5436:5432
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - main

volumes:
  postgres_data:

networks:
  main:
